@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300;1,400;1,700&display=swap');
h1{
    color: red;
    /* background-color: aqua; */
}
.cow{
    background-image: url("/images/cow.jpg");
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 81%, 79% 89%, 50% 100%, 25% 91%, 0 80%, 0% 35%, 0 0)
}
.cow h1{
    color: azure;
   font-size: 100px;
   text-align: center;
   font-weight: 900px;
   padding-top: 60px;
   margin: 0px;
   font-family:cursive ;
   word-spacing: 20px;
}
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;

}
.article{
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    width: 80%;
    /* margin-right: auto; */
    /* margin-left: auto; */
    margin: 60px auto;
    /* border: 10px solid yellow; */
    /* background-color: aqua; */
    padding: 60px;
}
#cowtag{
    width: 80%;
    margin: 60px auto;
    /* background-image: linear-gradient(pink, blue); */
    /* background-image: linear-gradient(pink,blue); */
    
}
.cows{
    display: flex;
    /* min-width: 300px; */
    /* width: 100px; */
    gap: 20px;
    /* justify-content: center; */
    justify-content: space-between;

}
.cows img{
    min-width: 300px;
    /* width: 100px; */
}
.article h2, #cowtag h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid yellow;
    margin-bottom: 60px;
    padding-bottom: 20px;
        
}
.gives{
font-size: 21px;
}
.article p{
    font-size: 20px;
    line-height: 2em;
}
#cowtag, .article{
    background-image: linear-gradient(pink,blue);

}